In [6]:
import numpy as np
import pandas as pd

In [8]:
data = { 'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],'Person':['Sam','Paul','Add','Eric','Mad','Paul'],'Sales':[200,300,100,230,500,150]}
df = pd.DataFrame(data)
df

  Company Person  Sales
0    GOOG    Sam    200
1    GOOG   Paul    300
2    MSFT    Add    100
3    MSFT   Eric    230
4      FB    Mad    500
5      FB   Paul    150

In [12]:
#Group column together
byComp = df.groupby('Company')
byComp.mean()  #Calculates mean company wise

         Sales
Company
FB         325
GOOG       250
MSFT       165

In [17]:
byComp.mean().loc['FB']  #Mean of sale accprding to company FB

Sales    325
Name: FB, dtype: int64

In [22]:
df.groupby('Company').describe()  #This gives overall description of the company

        Sales
        count   mean         std    min    25%    50%    75%    max
Company
FB        2.0  325.0  247.487373  150.0  237.5  325.0  412.5  500.0
GOOG      2.0  250.0   70.710678  200.0  225.0  250.0  275.0  300.0
MSFT      2.0  165.0   91.923882  100.0  132.5  165.0  197.5  230.0