In [2]:
import numpy as np

In [3]:
import pandas as pd

In [9]:
#4 Different data types

labels = ['a','b','c']   #Label
my_data = [10,20,30]      #Data
arr = np.array(my_data)   #Array
d = {'a':10 , 'b':20 , 'c':30}  #Dictionary

# Ways to create a Series

In [8]:
pd.Series( data = my_data) #From Data

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data = my_data,index=labels)   #OR pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr) #From Array

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(d) #From dictionary

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(labels) #From labels

0    a
1    b
2    c
dtype: object

In [19]:
ser1 = pd.Series([1,2,3,4],['USA','INDIA','CHINA','JAPAN'])
ser1

USA      1
INDIA    2
CHINA    3
JAPAN    4
dtype: int64

In [20]:
ser1['INDIA']   #series['index']

2

In [22]:
ser2 = pd.Series([4,3,2,1],['USA','JAPAN','INDIA','FRANCE'])
ser2

USA       4
JAPAN     3
INDIA     2
FRANCE    1
dtype: int64

In [23]:
ser1+ser2   #Gives Nan corrosponding to the index which occurs in only one series

CHINA     NaN
FRANCE    NaN
INDIA     4.0
JAPAN     7.0
USA       5.0
dtype: float64