# Integer

In [2]:
1.0 #String

1.0

In [ ]:
1 * 2.0

In [4]:
1 / 2

0.5

In [5]:
2 ** 2 #Exponent

4

In [6]:
5 % 2 #Modulo Operator

1

In [8]:
x = 2
y = 3
z = x+y
z

5

In [10]:
x = x+x
x

8

# Strings

In [13]:
"This is an example of string ."  #(Can use both single nad double quotes)

'This is an example of string .'

In [14]:
x = "Hello"
x  # Wrong method to display strings

'Hello'

In [15]:
print(x) #Correct Method

Hello

In [17]:
name = "Richa"
number = 123
'My name is {} and my contact number is {}'.format(name,number) 
#Automatically replaced according to the order of parenthesis

'My name is Richa and my contact number is 123'

In [18]:
print('My name is {one} and my contact number is {two}'.format(one=name,two=number)) 
#Automatically replaced according to the order of variable inside parenthesis

My name is Richa and my contact number is 123

In [20]:
str = 'I love programming'
str[4]

'v'

In [21]:
str[:8]  #Excluding the alphabet at 8th position

'I love p'

In [22]:
str[3:]

'ove programming'

In [24]:
str[4:10]

've pro'

# Lists

In [25]:
#List can have both strings and numbers as its datatypes
my_list = ['a','b','c','d']
my_list.append('e')
my_list

['a', 'b', 'c', 'd', 'e']

In [26]:
my_list[2:4]

['c', 'd']

In [27]:
my_list[0]='z'  #Simply replace the element at 0th position
my_list

['z', 'b', 'c', 'd', 'e']

In [29]:
nested_list = [1,2,[3,4,5]] #Nested list
nested_list

[1, 2, [3, 4, 5]]

In [30]:
nested_list[2]

[3, 4, 5]

In [31]:
nested_list[2][2]

5