In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
#This function is called when random function is initializes

np.random.seed(101)

In [39]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])   #Press Shift+Tab to know the parameters
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [7]:
df['W']    #OR df.W

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [12]:
#Selecting Columns

df[['W','Z']]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [38]:
df['new'] = df['W'] + df['X']   #Prior declaration of 'new' column is not required.
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

In [33]:
#Drop Column  (axis =1)
df.drop('new',axis=1,inplace=True)  #In this axis is always set to one (axis =1)
df                                  #IMP :"inplace = True" is set to make the drop operation permanent.

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [41]:
#Drop Row   (axis =0)

df.drop('E',axis =0,inplace=True)
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212

In [42]:
#Selecting Rows

df.loc['A']

W    0.386030
X    2.084019
Y   -0.376519
Z    0.230336
Name: A, dtype: float64

In [43]:
df.iloc[2] #Gives the elements corrosponding to C (row) i.e. selection by INDEX

W   -1.005187
X   -0.741790
Y    0.187125
Z   -0.732845
Name: C, dtype: float64

In [44]:
df.loc['B','Y']

-0.031160481493099617

In [46]:
df.loc[['A','C'],['W','Z']]  #Gives random combinations from the over all existing table

          W         Z
A  0.386030  0.230336
C -1.005187 -0.732845